{% extends "home.html" %}

{% block title %}<title>Buscar Productos</title>{% endblock %}

{% block content %}

<h2>Buscar Productos</h2>
<form method="GET" action="{% url 'buscar-productos' %}">
    <input type="text" name="nombre" placeholder="Buscar productos..." required>
    <button type="submit">Buscar</button>
<ul>

    {% for producto in productos %}
        <li>{{ producto.nombre }}</li>
    {% empty %}
        <li>No hay productos disponibles.</li>
    {% endfor %}
</ul>
<a href="{% url 'home' %}"><button type="button">Volver Menu Principal</button></a>
{% endblock content %}