{% extends "home.html" %}

{% block title %}<title>Buscar Clientes</title>{% endblock %}

{% block content %}

<h2>Buscar Clientes</h2>
<form method="GET" action="{% url 'buscar_cliente' %}">
    <input type="text" name="nombre" placeholder="Buscar clientes..." required>
    <button type="submit">Buscar</button>
<ul>

    {% for cliente in clientes %}
        <li>{{ cliente.nombre }}</li>
    {% empty %}
        <li>No hay clientes disponibles.</li>
    {% endfor %}
</ul>
 <a href="{% url 'home' %}"><button type="button">Volver Menu Principal</button></a>
{% endblock content %}